<div class="row justify-content-md-center">

    <% if logged_in?(:admin) %> 
        <%= link_to "New Portfolio", new_portfolio_path, class: "btn btn-outline-dark" %>
    <% end %>

    <div class="col-md-5">
      <%= image_tag(portfolio_img @portfolio.main_image, "main") %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 card">
    <h1 class="center-text"><%= @portfolio.title %></h1>
    <p class="top-margin"><%= @portfolio.description %></p>
  </div>



  </div>

