<div class="footer center-text"><span id="copyright-symbol"> &copy; </span> 2018 | <a href="	http://www.paraisogamingstudios.com" target="_blank"><span class="link copyright-link ">Paraiso Studios</span></a> | All rights reserved |
<%= link_to("Admin Login", new_user_session_path, class: 'copyright-link link') %></div>
