@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC');
@import "font-awesome";
@import "gritter";

html,
body {
  height: 100%;
  font-family: 'Lobster', monospace;
  color: #e0e0e0;
  background-color: #231b1b;
}
H3 {
	display: inline;
}
html { overflow-y: scroll; }
#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('background.jpg') no-repeat;
  background-size: cover;
  background-position: center center;

}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #231b1b;
  background-image: image-url('pole.png');
  background-size: 100% ;



}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
    background-color: #9e2222;
  background-image: image-url('pole.png');
  background-size: 100% ;

}

::-webkit-scrollbar-thumb
{
	background-color: grey;	
    background-color: #9e2222;
  background-image: image-url('pole.png');
  background-size: 100% ;

}

.center-text{
  text-align: center;
}

.top-margin {
  margin-top: 15px;
}

.oval {
  background: #9e2222;
  border-radius: 50%;
  padding: 25px;
  margin: 25px;
  -webkit-box-shadow: inset 0 0 10rem rgba(0,0,0,.5);
 box-shadow: inset 0 0 10rem rgba(0,0,0,.5);
}

.card {
	background-color: rgba(158, 34, 34,.7);
	padding: 10px;
  margin-top: 10px;
}

.footer {
  vertical-align: bottom;
  
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 95%; /* For at least Firefox */
  min-height: 95%;
}



.contact {
	margin: 10px;
	font-size: 1.2em;
}

.social-link {
	margin: 10px;
	color: #e0e0e0;
}

.nav {
	position: relative;
}

.nav-link {
		color: #e0e0e0;
		margin: 40 px;
		position: absolute;
  		top: 50%;
  		transform: translateY(-50%);
}
.logo {
  font-size: 5em;
}

.nav-link:hover {
  color: black;
}

.btn {
  background-color: rgba(12,12,12,.7);
  color: white;
}

.btn:hover {
  background-color: rgba(215,215,215,.7);
  color: black;
}

.title-font {
      font-family: 'Lobster', monospace;
}
.body-font {
  font-family: 'IM Fell French Canon SC', serif;
}
.subtitle {
  font-size: .5em;
}

.link {
  font-weight: bold;
  text-decoration: underline;
  color: #e0e0e0;
  font-size: 1.3em;

}

.link:hover {
    color: #594f4f;
}

.copyright-link {
  font-weight: bold;
  font-style: italic;
  font-size: 1em;
}

#copyright-symbol {
  font-size: 1.3em;
}

td{
  font-size: 1.1em;
    color: #e0e0e0;

}